


#titlerow{
	height: 100px;


}

#resetbutton{


}

#instuctionsArea{



}

.center-block {
  display: block;
  margin: auto !important;
}

.col-md-3{
   border: 1px solid black;
   height: 600px;
}
.col-md-2{
   	height: 100px;
}
