
body{
	background-color: black;
	color: white;
}

#titlerow{
	height: 50px;
	/*font-size: 100px !important;*/
}

#resetbutton{
	height: 50px;
}

#levelArea{
	height:50px;
}


#instuctionsArea{

}


.col-md-3{
   border: 1px solid black;
   height: 700px;
}

#bar1 {
	background-color: MediumBlue;
}

#bar2{
	background-color: LightBlue;
}


#bar3{
	background-color: cyan;
}



#bar4{
	background-color: teal;
}

